<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.martyna.kalendarz">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_urodziny"
            android:label="Urodziny" />
        <activity
            android:name=".activity_kontakty"
            android:label="Moje kontakty" />
        <activity
            android:name=".activity_wydatki"
            android:label="Wydatki" />
        <activity android:name=".activity_kalendarz" />
        <activity
            android:name=".activity_menu"
            android:label="Witaj!"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:label="Rejestracja" />
        <activity
            android:name=".LoginActivity"
            android:label="Logowanie" />
        <activity
            android:name=".activity_zakupy"
            android:label="Lista zakupów"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity_listaToDo"></activity>
        <activity
            android:name=".ActivityDay"
            android:label="@string/app_name" />

        <receiver
            android:name=".WidgetActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_activity_info" />
        </receiver>
    </application>

</manifest>